fastapi==0.117.1
uvicorn[standard]==0.35.0

langchain==0.3.26
langchain-community==0.3.26
langgraph==0.6.5

langchain-groq==0.3.8
langchain-tavily==0.2.11

psycopg[binary]==3.2.10

aiohttp==3.12.13
httpx==0.28.1

pydantic==2.11.7
python-dotenv==1.1.1
pillow==11.0.0